# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
          
  notify:
    name: Notify via Telegram
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run success
        run: exit 0
      - name: Send message to Telegram
        uses: Lukasss93/telegram-action@master
        if: always()
        env:
          TELEGRAM_TOKEN: '1618782403:AAFNEzf4aDR75VTwSpXjg2m_E2p4vf7nzFQ'
          TELEGRAM_CHAT: '@senhanotifications'
        with: 
          STATUS: ${{ job.status }} # Required for accessing the status of certain job
